In [1]:
#99%matplotlib inline
import pandas as pd

In [2]:
cast = pd.read_csv('cast.csv')
cast.head()

                  title  year      name   type                character     n
0        Closet Monster  2015  Buffy #1  actor                  Buffy 4   NaN
1       Suuri illusioni  1985    Homo $  actor                   Guests  22.0
2   Battle of the Sexes  2017   $hutter  actor          Bobby Riggs Fan  10.0
3  Secret in Their Eyes  2015   $hutter  actor          2002 Dodger Fan   NaN
4            Steve Jobs  2015   $hutter  actor  1988 Opera House Patron   NaN

### How many movies are listed in the titles dataframe?

In [8]:
cast.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3611212 entries, 0 to 3611211
Data columns (total 6 columns):
 #   Column     Dtype
---  ------     -----
 0   title      object
 1   year       int64
 2   name       object
 3   type       object
 4   character  object
 5   n          float64
dtypes: float64(1), int64(1), object(4)
memory usage: 165.3+ MB

In [9]:
cast # their are 3611212 movie titles in dataframe.

,title,year,name,type,character,n
0,Closet Monster,2015,Buffy #1,actor,Buffy 4,NaN
1,Suuri illusioni,1985,Homo $,actor,Guests,22.0
2,Battle of the Sexes,2017,$hutter,actor,Bobby Riggs Fan,10.0
3,Secret in Their Eyes,2015,$hutter,actor,2002 Dodger Fan,NaN
4,Steve Jobs,2015,$hutter,actor,1988 Opera House Patron,NaN
...,...,...,...,...,...,...
3611207,Foxtrot,1988,Lilja ??risd?ttir,actress,D?ra,24.0
3611208,Niceland (Population. 1.000.002),2004,Sigr??ur J?na ??risd?ttir,actress,Woman in Bus,26.0
3611209,Skammdegi,1985,Dalla ??r?ard?ttir,actress,Hj?krunarkona,9.0
3611210,U.S.S.S.S...,2003,Krist?n Andrea ??r?ard?ttir,actress,Afgr.dama ? bens?nst??,17.0
3611211,Bye Bye Blue Bird,1999,Rosa ? R?gvu,actress,Pensionatv?rtinde,NaN

### What are the earliest two films listed in the titles dataframe?

In [5]:
import pandas as pd

# Read the CSV file into a DataFrame
cast = pd.read_csv('cast.csv')

# Assuming the DataFrame has a 'title' and 'year' columns
if 'title' in cast.columns and 'year' in cast.columns:
    # Sort the dataframe by the 'year' column in ascending order
    earliest_films = cast.sort_values(by='year')

    # Display the earliest two films
    earliest_two_films = earliest_films.head(2)
    print("The earliest two films listed in the 'cast' dataframe:")
    print(earliest_two_films[['title', 'year']])
else:
    print("The DataFrame does not contain 'title' or 'year' columns.")

The earliest two films listed in the 'cast' dataframe:
              title  year
2514470  Miss Jerry  1894
555929   Miss Jerry  1894

### How many movies have the title "Hamlet"?

In [7]:
# Assuming the DataFrame has a 'title' column
if 'title' in cast.columns:
    # Count the number of occurrences of the title "Hamlet"
    hamlet_count = cast[cast['title'] == 'Hamlet'].shape[0]

    # Display the result
    print(f"Number of movies with the title 'Hamlet': {hamlet_count}")
else:
    print("The DataFrame does not contain a 'title' column.")

Number of movies with the title 'Hamlet': 313

### How many movies are titled "North by Northwest"?

In [8]:
# Assuming the DataFrame has a 'title' column
if 'title' in cast.columns:
    # Count the number of occurrences of the title "Hamlet"
    north_by_northwest_count = cast[cast['title'] == 'North by Northwest'].shape[0]

    # Display the result
    print(f"Number of movies with the title 'North by Northwest': {north_by_northwest_count}")
else:
    print("The DataFrame does not contain a 'title' column.")

Number of movies with the title 'North by Northwest': 112

### When was the first movie titled "Hamlet" made?

In [10]:
# Assuming the 'title' and 'year' columns exist in your DataFrame
hamlet_movies = cast[cast['title'] == 'Hamlet']

# Find the earliest Hamlet movie
earliest_hamlet_movie = hamlet_movies[hamlet_movies['year'] == hamlet_movies['year'].min()]

# Print information about the earliest Hamlet movie
print(earliest_hamlet_movie)

          title  year               name   type character   n
1545289  Hamlet  1910  Jean Mounet-Sully  actor    Hamlet NaN

### List all of the "Treasure Island" movies from earliest to most recent.

In [11]:
# Assuming the 'title' and 'year' columns exist in your DataFrame
treasure_island_movies = cast[cast['title'] == 'Treasure Island']

# Sort the movies by release year from earliest to most recent
sorted_treasure_island_movies = treasure_island_movies.sort_values(by='year')

# Print information about the Treasure Island movies
print(sorted_treasure_island_movies)

                   title  year                  name     type  \
830114   Treasure Island  1918        Charles Gorman    actor
840745   Treasure Island  1918             Joe Grant    actor
909157   Treasure Island  1918          Edwin Harley    actor
3298306  Treasure Island  1918      Violet Radcliffe  actress
1715014  Treasure Island  1918            Lloyd Perl    actor
...                  ...   ...                   ...      ...
2420089  Treasure Island  1999          Caveh Zahedi    actor
1637661  Treasure Island  1999         Nick Offerman    actor
1375015  Treasure Island  1999           J.P. Manoux    actor
1797264  Treasure Island  1999  Victor Raider-Wexler    actor
307749   Treasure Island  1999          Bob Byington    actor

                       character     n
830114           Prologue Player   NaN
840745   Undetermined child role   NaN
909157           Prologue Player   NaN
3298306         Long John Silver   3.0
1715014                Black Dog   4.0
...                          ...   ...
2420089                   Harold   9.0
1637661                   Samuel   2.0
1375015           Officer Hughes  18.0
1797264                 Samowitz  10.0
307749                    Thomas  12.0

[190 rows x 6 columns]

### How many movies were made in the year 1950?

In [12]:
# Assuming the 'year' column exists in your DataFrame
movies_1950 = cast[cast['year'] == 1950]

# Get the count of movies made in the year 1950
num_movies_1950 = len(movies_1950)

# Print the result
print(f"The number of movies made in the year 1950 is: {num_movies_1950}")

The number of movies made in the year 1950 is: 22006

### How many movies were made in the year 1960?

In [13]:
# Assuming the 'year' column exists in your DataFrame
movies_1960 = cast[cast['year'] == 1960]

# Get the count of movies made in the year 1960
num_movies_1960 = len(movies_1960)

# Print the result
print(f"The number of movies made in the year 1950 is: {num_movies_1960}")

The number of movies made in the year 1950 is: 18456

### How many movies were made from 1950 through 1959?

In [14]:
# Assuming the 'year' column exists in your DataFrame
movies_1950s = cast[(cast['year'] >= 1950) & (cast['year'] <= 1959)]

# Get the count of movies made from 1950 through 1959
num_movies_1950s = len(movies_1950s)

# Print the result
print(f"The number of movies made from 1950 through 1959 is: {num_movies_1950s}")

The number of movies made from 1950 through 1959 is: 210986

### In what years has a movie titled "Batman" been released?

In [20]:
cast[(cast['year']<=1943) & (cast['title'] == 'Batman')] # in 1943 movie titles batman was released

,title,year,name,type,character,n
95672,Batman,1943,Frank Austin,actor,Hotel Clerk,NaN
96186,Batman,1943,William Austin,actor,Alfred Pennyworth,NaN
258721,Batman,1943,Lynton Brent,actor,Intended Lockwood Pilot,NaN
287420,Batman,1943,Roy Bucko,actor,Barfly,NaN
387956,Batman,1943,George Chesebro,actor,Brennan [Ch. 1-3,NaN
477447,Batman,1943,Douglas Croft,actor,Robin,2.0
477448,Batman,1943,Douglas Croft,actor,Dick Grayson,2.0
490035,Batman,1943,Dick Curtis,actor,Agent Croft of Section 50 [Ch. 10-12]),NaN
575535,Batman,1943,James Dime,actor,Henchman,NaN
592716,Batman,1943,Lester Dorr,actor,Agent on Plane [Ch. 10,NaN
612482,Batman,1943,Kenne Duncan,actor,"Fred, the Mechanic [Ch. 5-6",NaN
706534,Batman,1943,Robert Fiske,actor,Foster [Ch. 1-4,NaN
713064,Batman,1943,Sam Flint,actor,Dr. G.H. Borden [Ch. 1,NaN
735294,Batman,1943,Jerry Frank,actor,Cave of Horrors Thug,NaN
746897,Batman,1943,Terry Frost,actor,Male Nurse [Ch. 7,NaN
772267,Batman,1943,Jack (II) Gardner,actor,Jim Bramwell,NaN
808898,Batman,1943,Gus Glassmire,actor,Martin Warren,NaN
880219,Batman,1943,Karl Hackett,actor,Wallace,NaN
973056,Batman,1943,Earle Hodgins,actor,Joe,NaN
1007490,Batman,1943,Mauritz Hugo,actor,Doctor,NaN
1029154,Batman,1943,Jack Ingram,actor,Henchman Klein,NaN
1043887,Batman,1943,Warren Jackson,actor,Bernie,NaN
1079713,Batman,1943,I. Stanford Jolley,actor,Henchman Brett [Ch. 1-2,NaN
1105832,Batman,1943,Eddie Kane,actor,J. Hanson,NaN
1281634,Batman,1943,George J. Lewis,actor,Henchman Burke,NaN
1310087,Batman,1943,Tom London,actor,Henchman Andrews,NaN
1326373,Batman,1943,Sam Lufkin,actor,Cop,NaN
1354944,Batman,1943,George Magrill,actor,Henchman at Sphinx Club,NaN
1374054,Batman,1943,Knox Manning,actor,Narrator,NaN
1416921,Batman,1943,John (IV) Maxwell,actor,Sam Fletcher,NaN
1480691,Batman,1943,Charles Middleton,actor,Ken Colton [Ch. 6-8,NaN
1488728,Batman,1943,Harold Miller,actor,Restaurant Patron,NaN
1572558,Batman,1943,J. Carrol Naish,actor,Dr. Daka,3.0
1629893,Batman,1943,Pat O'Malley,actor,Cop,NaN
1643899,Batman,1943,Ted Oliver,actor,Marshall,NaN
1654583,Batman,1943,Bud Osborne,actor,Brown,NaN
1772238,Batman,1943,Stanley Price,actor,Henchman Driver [Ch. 1-2,NaN
1815153,Batman,1943,Joey Ray,actor,Henchman,NaN
1853342,Batman,1943,Cyril Ring,actor,Restaurant Patron,NaN
1870828,Batman,1943,George Robotham,actor,Henchman,NaN
1998609,Batman,1943,Frank Shannon,actor,Dr. Hayden,NaN
2168410,Batman,1943,Harry Tenbrook,actor,Bartender,NaN
2245660,Batman,1943,Michael Vallon,actor,Preston [Ch. 10,NaN
2312904,Batman,1943,Anthony Warde,actor,Stone,NaN
2344152,Batman,1943,Dan White,actor,Mover with Pickup Truck,NaN
2346834,Batman,1943,Blackie Whiteford,actor,Barfly,NaN
2355812,Batman,1943,Billy Wilkerson,actor,Steve [Ch. 8,NaN
2368904,Batman,1943,Charles C. Wilson,actor,Police Captain Arnold,NaN
2370238,Batman,1943,Harry Wilson,actor,Henchman,NaN
2371186,Batman,1943,Lewis Wilson,actor,Batman,1.0
2371187,Batman,1943,Lewis Wilson,actor,Bruce Wayne,1.0
3253550,Batman,1943,Shirley Patterson,actress,Linda Page,4.0

In [16]:
# Assuming the 'title' and 'year' columns exist in your DataFrame
batman_movies = cast[cast['title'] == 'Batman']

# Extract the unique years in which Batman movies were released
release_years = batman_movies['year']

# Print the result
print(f"Years in which a movie titled 'Batman' was released: {release_years}")

Years in which a movie titled 'Batman' was released: 95672      1943
96186      1943
114034     1989
119476     1989
149767     1989
           ...
2907449    1989
3253550    1943
3343947    1989
3345872    1989
3356826    1989
Name: year, Length: 120, dtype: int64

### How many roles were there in the movie "Inception"?

In [21]:
dp=cast[(cast['title'] == 'Inception')] # 77 roles were their in movie inception
dp

,title,year,name,type,character,n
94333,Inception,2010,Michael (III) August,actor,LAX Passenger,NaN
143138,Inception,2010,Peter Basham,actor,Fischer's Jet Captain,44.0
176819,Inception,2010,Tom Berenger,actor,Browning,8.0
190249,Inception,2010,Ken Bhan,actor,Mombasan Gambler,NaN
250191,Inception,2010,Virgile Bramly,actor,Bridge Sub Con,29.0
...,...,...,...,...,...,...
3238950,Inception,2010,Ellen Page,actress,Ariadne,3.0
3292669,Inception,2010,Nicole Pulliam,actress,Lobby Sub Con,43.0
3319073,Inception,2010,Lisa (II) Reynolds,actress,Private Nurse,48.0
3325768,Inception,2010,Talulah Riley,actress,Blonde,25.0
3560127,Inception,2010,Shannon Welles,actress,Old Mal,51.0

In [17]:
# Assuming the 'title' and 'year' columns exist in your DataFrame
inception_movies = cast[cast['title'] == 'Inception']

# Extract the unique years in which Batman movies were released
release_years = inception_movies['year']

# Print the result
print(f"Years in which a movie titled 'Inception' was released: {release_years}")

Years in which a movie titled 'Inception' was released: 94333      2010
143138     2010
176819     2010
190249     2010
250191     2010
           ...
3238950    2010
3292669    2010
3319073    2010
3325768    2010
3560127    2010
Name: year, Length: 77, dtype: int64

### How many roles in the movie "Inception" are NOT ranked by an "n" value?

In [18]:
# Assuming the 'title', 'n', and 'character' columns exist in your DataFrame
inception_roles = cast[(cast['title'] == 'Inception') & (cast['n'].isnull())]

# Get the count of roles in "Inception" that are not ranked by an "n" value
num_roles_without_n_value = len(inception_roles)

# Print the result
print(f"The number of roles in the movie 'Inception' that are not ranked by an 'n' value is: {num_roles_without_n_value}")

The number of roles in the movie 'Inception' that are not ranked by an 'n' value is: 26

### But how many roles in the movie "Inception" did receive an "n" value?

In [23]:
dp.isnull().value_counts() # 51 roles in movie Inception did receive an "n" value

title  year   name   type   character  n
False  False  False  False  False      False    51
                                       True     26
dtype: int64

In [22]:
# Assuming the 'title', 'n', and 'character' columns exist in your DataFrame
inception_roles_with_n_value = cast[(cast['title'] == 'Inception') & (~cast['n'].isnull())]

# Get the count of roles in "Inception" that received an "n" value
num_roles_with_n_value = len(inception_roles_with_n_value)

# Print the result
print(f"The number of roles in the movie 'Inception' that received an 'n' value is: {num_roles_with_n_value}")

The number of roles in the movie 'Inception' that received an 'n' value is: 51

### Display the cast of "North by Northwest" in their correct "n"-value order, ignoring roles that did not earn a numeric "n" value.

In [74]:
re=cast[cast['title'] == 'North by Northwest']
re

,title,year,name,type,character,n
12151,North by Northwest,1959,Stanley Adams,actor,Lieutenant Harding,NaN
27852,North by Northwest,1959,Andy Albin,actor,Farmer,NaN
54093,North by Northwest,1959,Don Anderson,actor,Worker,NaN
54307,North by Northwest,1959,Ernest Anderson,actor,Porter on Twentieth Century Ltd.,NaN
92195,North by Northwest,1959,Malcolm Atterbury,actor,Man at Prairie Crossing,NaN
...,...,...,...,...,...,...
3361396,North by Northwest,1959,Eva Marie Saint,actress,Eve Kendall,2.0
3416124,North by Northwest,1959,Doris Singh,actress,First United Nations Receptionist,NaN
3437248,North by Northwest,1959,Helen Spring,actress,Bidder,NaN
3567500,North by Northwest,1959,Susan Whitney,actress,Attendant,NaN
3578877,North by Northwest,1959,Paula Winslowe,actress,Woman at Auction,NaN

In [36]:
# Assuming the 'title' and 'n' columns exist in your DataFrame
north_by_northwest_null_values = cast[(cast['title'] == 'North by Northwest') & (cast['n'].isnull())]

# Display only the null values for "n" column
print(north_by_northwest_null_values)

                      title  year               name     type  \
12151    North by Northwest  1959      Stanley Adams    actor
27852    North by Northwest  1959         Andy Albin    actor
54093    North by Northwest  1959       Don Anderson    actor
54307    North by Northwest  1959    Ernest Anderson    actor
92195    North by Northwest  1959  Malcolm Atterbury    actor
...                     ...   ...                ...      ...
3289400  North by Northwest  1959    Maudie Prickett  actress
3416124  North by Northwest  1959        Doris Singh  actress
3437248  North by Northwest  1959       Helen Spring  actress
3567500  North by Northwest  1959      Susan Whitney  actress
3578877  North by Northwest  1959     Paula Winslowe  actress

                                 character   n
12151                   Lieutenant Harding NaN
27852                               Farmer NaN
54093                               Worker NaN
54307     Porter on Twentieth Century Ltd. NaN
92195              Man at Prairie Crossing NaN
...                                    ...  ..
3289400                       Elsie - Maid NaN
3416124  First United Nations Receptionist NaN
3437248                             Bidder NaN
3567500                          Attendant NaN
3578877                   Woman at Auction NaN

[96 rows x 6 columns]

### Display the entire cast, in "n"-order, of the 1972 film "Sleuth".

In [27]:
cast[(cast['year']<=1972) & (cast['title'] == 'Sleuth')]

,title,year,name,type,character,n
314691,Sleuth,1972,Michael Caine,actor,Milo Tindle,2.0
360365,Sleuth,1972,Alec Cawthorne,actor,Inspector Doppler,3.0
1396572,Sleuth,1972,Teddy Martin,actor,Police Constable Higgs,6.0
1412647,Sleuth,1972,John (II) Matthews,actor,Detective Sergeant Tarrant,4.0
1644328,Sleuth,1972,Laurence Olivier,actor,Andrew Wyke,1.0
2619278,Sleuth,1972,Eve (III) Channing,actress,Marguerite Wyke,5.0

In [35]:
# Assuming the 'title', 'year', and 'n' columns exist in your DataFrame
sleuth_1972_null_values = cast[(cast['name'] == 'Sleuth') & (cast['year'] == 1972) & (cast['n'].isnull())]

# Display only the null values for the "n" column
print(sleuth_1972_null_values)

Empty DataFrame
Columns: [title, year, name, type, character, n]
Index: []

### Now display the entire cast, in "n"-order, of the 2007 version of "Sleuth".

In [28]:
cast[(cast['year']==2007) & (cast['title'] == 'Sleuth')]

          title  year                 name     type          character    n
250297   Sleuth  2007      Kenneth Branagh    actor  Other Man on T.V.  NaN
314692   Sleuth  2007        Michael Caine    actor             Andrew  1.0
360366   Sleuth  2007  Alec (II) Cawthorne    actor  Inspector Doppler  NaN
1246855  Sleuth  2007             Jude Law    actor               Milo  2.0
1741124  Sleuth  2007        Harold Pinter    actor        Man on T.V.  3.0
2619277  Sleuth  2007    Eve (II) Channing  actress    Marguerite Wyke  NaN
3223502  Sleuth  2007    Carmel O'Sullivan  actress             Maggie  NaN

In [34]:
# Assuming the 'title', 'year', and 'n' columns exist in your DataFrame
sleuth_2007_null_values = cast[(cast['title'] == 'Sleuth') & (cast['year'] == 2007) & (cast['n'].isnull())]

# Display only the null values for the "n" column
print(sleuth_2007_null_values)

          title  year                 name     type          character   n
250297   Sleuth  2007      Kenneth Branagh    actor  Other Man on T.V. NaN
360366   Sleuth  2007  Alec (II) Cawthorne    actor  Inspector Doppler NaN
2619277  Sleuth  2007    Eve (II) Channing  actress    Marguerite Wyke NaN
3223502  Sleuth  2007    Carmel O'Sullivan  actress             Maggie NaN

### How many roles were credited in the silent 1921 version of Hamlet?

In [37]:
# Assuming the 'title', 'year', and 'character' columns exist in your DataFrame
hamlet_1921_roles = cast[(cast['title'] == 'Hamlet') & (cast['year'] == 1921)]

# Get the count of credited roles in the silent 1921 version of Hamlet
num_roles_hamlet_1921 = len(hamlet_1921_roles)

# Print the result
print(f"The number of credited roles in the silent 1921 version of Hamlet is: {num_roles_hamlet_1921}")

The number of credited roles in the silent 1921 version of Hamlet is: 9

### How many roles were credited in Branaghâ€™s 1996 Hamlet?

In [38]:
# Assuming the 'title', 'year', and 'character' columns exist in your DataFrame
branagh_hamlet_roles = cast[(cast['title'] == 'Hamlet') & (cast['year'] == 1996)]

# Get the count of credited roles in Branagh's 1996 version of Hamlet
num_roles_branagh_hamlet = len(branagh_hamlet_roles)

# Print the result
print(f"The number of credited roles in Branagh's 1996 version of Hamlet is: {num_roles_branagh_hamlet}")

The number of credited roles in Branagh's 1996 version of Hamlet is: 54

### How many "Hamlet" roles have been listed in all film credits through history?

In [39]:
# Assuming the 'title' and 'character' columns exist in your DataFrame
hamlet_roles = cast[cast['title'] == 'Hamlet']

# Get the count of "Hamlet" roles listed in all film credits through history
num_hamlet_roles = len(hamlet_roles)

# Print the result
print(f"The number of 'Hamlet' roles listed in all film credits through history is: {num_hamlet_roles}")

The number of 'Hamlet' roles listed in all film credits through history is: 313

### How many people have played an "Ophelia"?

In [42]:
# Assuming the 'character' column exists in your DataFrame
ophelia_actors = cast[cast['character'] == 'Ophelia']

# Get the count of people who have played the role of "Ophelia"
num_ophelia_actors = len(ophelia_actors['name'])

# Print the result
print(f"The number of people who have played the role of 'Ophelia' is: {num_ophelia_actors}")

The number of people who have played the role of 'Ophelia' is: 111

### How many people have played a role called "The Dude"?

In [44]:
# Assuming the 'character' column exists in your DataFrame
the_dude_actors = cast[cast['character'] == 'The Dude']

# Get the count of people who have played the role of "The dude"
the_dude_actors = len(the_dude_actors['name'])

# Print the result
print(f"The number of people who have played the role of 'The Dude' is: {the_dude_actors}")

The number of people who have played the role of 'The Dude' is: 18

### How many people have played a role called "The Stranger"?

In [46]:
# Assuming the 'character' column exists in your DataFrame
the_stranger_actors = cast[cast['character'] == 'The Stranger']

# Get the count of people who have played the role of "The Stranger"
the_stranger_actors = len(the_stranger_actors['name'])

# Print the result
print(f"The number of people who have played the role of 'the Stranger' is: {the_stranger_actors}")

The number of people who have played the role of 'the Stranger' is: 208

### How many roles has Sidney Poitier played throughout his career?

In [48]:
# Assuming the 'name' and 'character' columns exist in your DataFrame
sidney_poitier_roles = cast[cast['name'] == 'Sidney Poitier']

# Get the count of roles played by Sidney Poitier
num_sidney_poitier_roles = len(sidney_poitier_roles['character'])

# Print the result
print(f"The number of roles played by Sidney Poitier throughout his career is: {num_sidney_poitier_roles}")

The number of roles played by Sidney Poitier throughout his career is: 43

### How many roles has Judi Dench played?

In [49]:
# Assuming the 'character' column exists in your DataFrame
judi_dench_actors = cast[cast['name'] == 'Judi Dench']

# Get the count of people who have played the role of "Judi Dench"
judi_dench_actors = len(judi_dench_actors['name'])

# Print the result
print(f"The number of people who have played the role of 'Judi Dench' is: {judi_dench_actors}")

The number of people who have played the role of 'Judi Dench' is: 55

### List the supporting roles (having n=2) played by Cary Grant in the 1940s, in order by year.

In [52]:
# Assuming the 'name', 'n', 'year', and 'character' columns exist in your DataFrame
cary_grant_supporting_roles_1940s = cast[(cast['name'] == 'Cary Grant') & (cast['n'] == 2) & (cast['year'] == 1940)]

# Sort the supporting roles by year
sorted_cary_grant_supporting_roles = cary_grant_supporting_roles_1940s.sort_values(by='year')

# Display the sorted supporting roles
print(sorted_cary_grant_supporting_roles)

                   title  year        name   type character    n
840371  My Favorite Wife  1940  Cary Grant  actor      Nick  2.0

### List the leading roles that Cary Grant played in the 1940s in order by year.

In [56]:
# Assuming the 'name', 'n', 'year', and 'character' columns exist in your DataFrame
cary_grant_leading_roles_1940s = cast[(cast['name'] == 'Cary Grant') & (cast['n'] >= 1) & (cast['year'] == 1940)]

# Sort the leading roles by year
sorted_cary_grant_leading_roles = cary_grant_leading_roles_1940s.sort_values(by='year')

# Display the sorted leading roles
print(sorted_cary_grant_leading_roles)

                          title  year        name   type           character  \
840353          His Girl Friday  1940  Cary Grant  actor        Walter Burns
840371         My Favorite Wife  1940  Cary Grant  actor                Nick
840397  The Howards of Virginia  1940  Cary Grant  actor         Matt Howard
840399   The Philadelphia Story  1940  Cary Grant  actor  C. K. Dexter Haven

          n
840353  1.0
840371  2.0
840397  1.0
840399  1.0

### How many roles were available for actors in the 1950s?

In [58]:
# Assuming the 'type' and 'year' columns exist in your DataFrame
roles_1950s = cast[(cast['type'] == 'actor') & (cast['year'] == 1950)]

# Get the count of roles available for actors in the 1950s
num_roles_1950s = len(roles_1950s)

# Print the result
print(f"The number of roles available for actors in the 1950s is: {num_roles_1950s}")

The number of roles available for actors in the 1950s is: 16512

### How many roles were available for actresses in the 1950s?

In [59]:
# Assuming the 'type' and 'year' columns exist in your DataFrame
roles_1950s = cast[(cast['type'] == 'actress') & (cast['year'] == 1950)]

# Get the count of roles available for actors in the 1950s
num_roles_1950s = len(roles_1950s)

# Print the result
print(f"The number of roles available for actress in the 1950s is: {num_roles_1950s}")

The number of roles available for actress in the 1950s is: 5494

### How many leading roles (n=1) were available from the beginning of film history through 1980?

In [63]:
# Assuming the 'n' and 'year' columns exist in your DataFrame
leading_roles_until_1980 = cast[(cast['n'] == 1) & (cast['year'] >= 1980)]

# Get the count of leading roles (n=1) available until 1980
num_leading_roles_until_1980 = len(leading_roles_until_1980)

# Print the result
print(f"The number of leading roles (n=1) available from the beginning of film history through 1980 is: {num_leading_roles_until_1980}")

The number of leading roles (n=1) available from the beginning of film history through 1980 is: 84264

### How many non-leading roles were available through from the beginning of film history through 1980?

In [64]:
# Assuming the 'n' and 'year' columns exist in your DataFrame
roles_until_1980 = cast[cast['year'] >= 1980]

# Filter for null values in the 'n' column
null_values_until_1980 = roles_until_1980[roles_until_1980['n'].isnull()]

# Display only the null values from the 'n' column
print(null_values_until_1980[['year', 'title', 'n']])

         year                   title   n
0        2015          Closet Monster NaN
3        2015    Secret in Their Eyes NaN
4        2015              Steve Jobs NaN
5        2015  Straight Outta Compton NaN
6        2015  Straight Outta Compton NaN
...       ...                     ...  ..
3611197  2017               Svanurinn NaN
3611202  2007               Foreldrar NaN
3611203  2011                 Rokland NaN
3611204  2013                      XL NaN
3611211  1999       Bye Bye Blue Bird NaN

[945383 rows x 3 columns]

### How many roles through 1980 were minor enough that they did not warrant a numeric "n" rank?

In [65]:
# Assuming the 'n' and 'year' columns exist in your DataFrame
roles_until_1980 = cast[cast['year'] >= 1980]

# Filter for null values in the 'n' column
minor_roles_without_n_value = roles_until_1980[roles_until_1980['n'].isnull()]

# Get the count of roles without a numeric "n" rank through 1980
num_minor_roles_without_n_value = len(minor_roles_without_n_value)

# Print the result
print(f"The number of roles through 1980 that were minor enough to not warrant a numeric 'n' rank is: {num_minor_roles_without_n_value}")

The number of roles through 1980 that were minor enough to not warrant a numeric 'n' rank is: 945383